.newsletter {
    padding: 85px 0 80px;
    text-align: center;

    h2 {
        color: $white;
        font-size: 36px;
        line-height: 49px;

        @include max-screen($tablet) {
            font-size: 28px;
            line-height: 38px;
        }
    }

    form {
        margin: 40px auto 0;
        max-width: 560px;
        width: 100%;
        input {
            -webkit-appearance: none;
            border-radius: 5px;
            box-shadow: none;
            height: 50px;
            padding: 0 20px;
        }
        .button {
            margin: 0;
            width: 100%;
        }
    }
}